In [84]:
import requests
import pandas as pd
import requests
import json
import time
import os
url = "https://www.wardwisechicago.org/api/spendingitems?"

In [58]:
print(requests.get(url))

<Response [200]>

In [60]:
wards = list(range(1, 51))
print(f"wards: {wards}")

wards: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [62]:
#wards1 = [1, 2]
#print(f"wards1 {wards1}")

In [64]:
all_wards_data = []
for this_ward in wards:
    this_ward = str(this_ward)
    query_url = url + "ward=" + this_ward
    print(query_url)
    
    spending_data = requests.get(query_url).json()
    spending_list = spending_data["spendingItems"]
    all_wards_data.extend(spending_list)
    time.sleep(1)

https://www.wardwisechicago.org/api/spendingitems?ward=1
https://www.wardwisechicago.org/api/spendingitems?ward=2
https://www.wardwisechicago.org/api/spendingitems?ward=3
https://www.wardwisechicago.org/api/spendingitems?ward=4
https://www.wardwisechicago.org/api/spendingitems?ward=5
https://www.wardwisechicago.org/api/spendingitems?ward=6
https://www.wardwisechicago.org/api/spendingitems?ward=7
https://www.wardwisechicago.org/api/spendingitems?ward=8
https://www.wardwisechicago.org/api/spendingitems?ward=9
https://www.wardwisechicago.org/api/spendingitems?ward=10
https://www.wardwisechicago.org/api/spendingitems?ward=11
https://www.wardwisechicago.org/api/spendingitems?ward=12
https://www.wardwisechicago.org/api/spendingitems?ward=13
https://www.wardwisechicago.org/api/spendingitems?ward=14
https://www.wardwisechicago.org/api/spendingitems?ward=15
https://www.wardwisechicago.org/api/spendingitems?ward=16
https://www.wardwisechicago.org/api/spendingitems?ward=17
https://www.wardwisechicago.org/api/spendingitems?ward=18
https://www.wardwisechicago.org/api/spendingitems?ward=19
https://www.wardwisechicago.org/api/spendingitems?ward=20
https://www.wardwisechicago.org/api/spendingitems?ward=21
https://www.wardwisechicago.org/api/spendingitems?ward=22
https://www.wardwisechicago.org/api/spendingitems?ward=23
https://www.wardwisechicago.org/api/spendingitems?ward=24
https://www.wardwisechicago.org/api/spendingitems?ward=25
https://www.wardwisechicago.org/api/spendingitems?ward=26
https://www.wardwisechicago.org/api/spendingitems?ward=27
https://www.wardwisechicago.org/api/spendingitems?ward=28
https://www.wardwisechicago.org/api/spendingitems?ward=29
https://www.wardwisechicago.org/api/spendingitems?ward=30
https://www.wardwisechicago.org/api/spendingitems?ward=31
https://www.wardwisechicago.org/api/spendingitems?ward=32
https://www.wardwisechicago.org/api/spendingitems?ward=33
https://www.wardwisechicago.org/api/spendingitems?ward=34
https://www.wardwisechicago.org/api/spendingitems?ward=35
https://www.wardwisechicago.org/api/spendingitems?ward=36
https://www.wardwisechicago.org/api/spendingitems?ward=37
https://www.wardwisechicago.org/api/spendingitems?ward=38
https://www.wardwisechicago.org/api/spendingitems?ward=39
https://www.wardwisechicago.org/api/spendingitems?ward=40
https://www.wardwisechicago.org/api/spendingitems?ward=41
https://www.wardwisechicago.org/api/spendingitems?ward=42
https://www.wardwisechicago.org/api/spendingitems?ward=43
https://www.wardwisechicago.org/api/spendingitems?ward=44
https://www.wardwisechicago.org/api/spendingitems?ward=45
https://www.wardwisechicago.org/api/spendingitems?ward=46
https://www.wardwisechicago.org/api/spendingitems?ward=47
https://www.wardwisechicago.org/api/spendingitems?ward=48
https://www.wardwisechicago.org/api/spendingitems?ward=49
https://www.wardwisechicago.org/api/spendingitems?ward=50

all_wards_df = pd. DataFrame(all_wards_data)

In [74]:
all_wards_df.shape

(47972, 7)

In [76]:
all_wards_df.head()

,id,ward,year,item,category,location,cost
0,1,1,2005,Alley Resurface Menu,Alleys,N WOOD ST--N HERMITAGE AV--W POTOMAC AV--W ELL...,9898
1,2,1,2005,Alley Resurface Menu,Alleys,W AUGUSTA BV--W THOMAS ST--N HONORE ST--N WOLC...,5662
2,3,1,2005,Alley Resurface Menu,Alleys,N OAKLEY--N CLAREMONT AV--W POTOMAC AV--W HIRS...,15806
3,4,1,2005,Alley Resurface Menu,Alleys,W FULLERTON AV--W ALTGELD ST--N MAPLEWOOD AV--...,18260
4,5,1,2005,Alley Resurface Menu,Alleys,W DIVISION ST--N GREENVIEW AV--W BLACKHAWK ST-...,5361

In [94]:
all_wards_df.tail()

,id,ward,year,item,category,location,cost
47967,47986,50,2024,Street Resurfacing Menu,Street Resurfacing,ON W BIRCHWOOD AVE FROM N OAKLEY AVE (2300 W) ...,52680
47968,47987,50,2024,Street Speed Hump Menu,Street Resurfacing,ON N BELL AVE FROM W LUNT AVE (7000 N) TO W GR...,2440
47969,47988,50,2024,Street Speed Hump Menu,Street Resurfacing,ON W ESTES AVE FROM N BELL AVE (2200 W) TO N O...,2440
47970,47989,50,2024,Street Speed Hump Menu,Street Resurfacing,ON W FARGO AVE FROM N WASHTENAW AVE (2700 W) T...,4880
47971,47990,50,2024,Street Speed Hump Replacement,Street Resurfacing,ON W BIRCHWOOD AVE FROM N OAKLEY AVE (2300 W) ...,0

In [138]:
unique_wards = len(all_wards_df["ward"].unique())
if unique_wards == 50:
    print(f"number of wards: {unique_wards}, all OK")
else:
    print(f"number of wards: {unique_wards}, is not correct, check api call")

number of wards: 50, all OK

In [147]:
all_wards_post_2018_df = all_wards_df[(all_wards_df["year"] > 2018)]
all_wards_post_2018_df.head()

,id,ward,year,item,category,location,cost
646,918,1,2022,Curb & Gutter Menu,Street Resurfacing,2759 N LEAVITT ST,25646
788,788,1,2019,Maplewood Park Field House 2019 Phase II Menu ...,Parks,1640 N MAPLEWOOD AVE,250000
789,789,1,2019,Alley Resurfacing Menu (1-1),Alleys,W OHIO ST & N DAMEN AVE & W RACE AVE & N WOLCO...,17652
790,790,1,2019,Alley Resurfacing Menu,Alleys,N WHIPPLE ST & W BLOOMINGDALE AVE & N HUMBOLDT...,37557
791,791,1,2019,Alley Resurfacing Menu,Alleys,N ROCKWELL ST & W CORTLAND ST & N TALMAN AVE &...,70987

In [149]:
fileName = "all_wards_spend_data.csv"
all_wards_df.to_csv("all_wards_spend_post_2018_data.csv", encoding="utf-8", index=False)

In [151]:
print(f"cwd: {os.getcwd()}")

cwd: /Users/wayne.mitchell/Documents/NU/Go_giter/project-1

In [153]:
print(f"list cwd: {os.listdir()}")

list cwd: ['all_wards_spend_post_2018_data.csv', 'README.md', '.gitignore', 'all_wards_spend_data.csv', '.ipynb_checkpoints', 'parse_spend_by_ward.ipynb', '.git']